# Cmake files
src/cpp_compiler/CMakeCache.txt
src/cpp_compiler/CMakeFiles/
src/cpp_compiler/CTestTestfile.cmake
src/cpp_compiler/cmake_install.cmake
src/cpp_compiler/runLysCompiler.so

# Output files
data/output/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
*.egg-info/

# reports folder
reports/
venv/

#vscode files
.vscode/

#others
.DS_Store
